.filter.wrapper_f.wrapper_jcsb.wrapper_aic
    .filter__wrap.wrapper_f.wrapper_jcsb.wrapper_aic
        - for(var x = 0; x < 2; x++)
            .filter__item
                span.filter__name Размер
                .filter__values.wrapper_f.wrapper_aic.wrapper_jcfs
                    .filter__value 40
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-inside-1" fill="white">
                        <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z"/>
                        </mask>
                        <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z" fill="#0B1742"/>
                        <path d="M4.44196 3.79672L3.06508 2.34613L1.53683 3.79673L3.06509 5.24732L4.44196 3.79672ZM7.90846 0.506374L6.53159 -0.944219L6.53159 -0.944216L7.90846 0.506374ZM7.46651 0.086883L8.84339 1.53748L8.84348 1.53739L7.46651 0.086883ZM3.99999 3.37723L2.62312 4.82782L3.99999 6.13473L5.37686 4.82783L3.99999 3.37723ZM0.533487 0.086883L1.91036 -1.36371L1.91036 -1.36371L0.533487 0.086883ZM0.0915349 0.506374L1.46841 -0.944219L1.46832 -0.944307L0.0915349 0.506374ZM3.55804 3.79671L4.93492 5.2473L6.46317 3.79671L4.93491 2.34612L3.55804 3.79671ZM0.0915349 7.08706L1.46841 8.53765L1.46841 8.53765L0.0915349 7.08706ZM0.0915349 7.50655L1.46841 6.05596L1.46832 6.05587L0.0915349 7.50655ZM0.533502 7.50655L1.91019 8.95732L1.91038 8.95714L0.533502 7.50655ZM3.99999 4.21622L5.37686 2.76562L3.99999 1.45872L2.62312 2.76563L3.99999 4.21622ZM7.4665 7.50655L6.08962 8.95714L7.4665 7.50655ZM7.90846 7.50655L9.28515 8.95732L9.28534 8.95714L7.90846 7.50655ZM7.90846 7.08706L6.53159 8.53765L6.53168 8.53774L7.90846 7.08706ZM5.81884 5.24731L9.28534 1.95696L6.53159 -0.944216L3.06508 2.34613L5.81884 5.24731ZM9.28534 1.95697C10.2382 1.05256 10.2383 -0.45929 9.28524 -1.3638L6.53168 1.53756C5.82272 0.864714 5.82286 -0.271501 6.53159 -0.944219L9.28534 1.95697ZM9.28524 -1.3638C8.39162 -2.2119 6.98353 -2.21228 6.08955 -1.36362L8.84348 1.53739C8.19356 2.15436 7.18122 2.15401 6.53168 1.53756L9.28524 -1.3638ZM6.08964 -1.36371L2.62312 1.92664L5.37686 4.82783L8.84339 1.53748L6.08964 -1.36371ZM5.37687 1.92664L1.91036 -1.36371L-0.84339 1.53747L2.62312 4.82782L5.37687 1.92664ZM1.91036 -1.36371C1.0166 -2.21205 -0.391562 -2.21217 -1.28543 -1.36362L1.4685 1.53739C0.818693 2.15425 -0.193718 2.15413 -0.843386 1.53748L1.91036 -1.36371ZM-1.28543 -1.36362C-2.238 -0.459352 -2.23843 1.05243 -1.28525 1.95706L1.46832 -0.944307C2.17741 -0.271338 2.177 0.864806 1.4685 1.53739L-1.28543 -1.36362ZM-1.28534 1.95697L2.18117 5.2473L4.93491 2.34612L1.46841 -0.944219L-1.28534 1.95697ZM2.18116 2.34612L-1.28534 5.63647L1.46841 8.53765L4.93492 5.2473L2.18116 2.34612ZM-1.28534 5.63647C-2.23817 6.54087 -2.2383 8.05272 -1.28525 8.95723L1.46832 6.05587C2.17728 6.72872 2.17714 7.86493 1.46841 8.53765L-1.28534 5.63647ZM-1.28534 8.95714C-0.827417 9.39179 -0.243921 9.59342 0.312519 9.59342V5.59342C0.70899 5.59342 1.13252 5.73714 1.46841 6.05596L-1.28534 8.95714ZM0.312519 9.59342C0.869111 9.59342 1.45243 9.3917 1.91019 8.95732L-0.843185 6.05578C-0.507491 5.73723 -0.0841059 5.59342 0.312519 5.59342V9.59342ZM1.91038 8.95714L5.37687 5.66681L2.62312 2.76563L-0.843374 6.05596L1.91038 8.95714ZM2.62312 5.66681L6.08962 8.95714L8.84337 6.05596L5.37686 2.76562L2.62312 5.66681ZM6.08962 8.95714C6.54755 9.39179 7.13104 9.59342 7.68748 9.59342V5.59342C8.08395 5.59342 8.50748 5.73714 8.84337 6.05596L6.08962 8.95714ZM7.68748 9.59342C8.24407 9.59342 8.8274 9.3917 9.28515 8.95732L6.53178 6.05578C6.86747 5.73723 7.29086 5.59342 7.68748 5.59342V9.59342ZM9.28534 8.95714C10.2382 8.05274 10.2383 6.54089 9.28524 5.63638L6.53168 8.53774C5.82272 7.86489 5.82286 6.72868 6.53159 6.05596L9.28534 8.95714ZM9.28534 5.63647L5.81883 2.34613L3.06509 5.24732L6.53159 8.53765L9.28534 5.63647Z" fill="#0069B4" mask="url(#path-1-inside-1)"/>
                        </svg>
                    .filter__value 40
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-inside-1" fill="white">
                        <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z"/>
                        </mask>
                        <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z" fill="#0B1742"/>
                        <path d="M4.44196 3.79672L3.06508 2.34613L1.53683 3.79673L3.06509 5.24732L4.44196 3.79672ZM7.90846 0.506374L6.53159 -0.944219L6.53159 -0.944216L7.90846 0.506374ZM7.46651 0.086883L8.84339 1.53748L8.84348 1.53739L7.46651 0.086883ZM3.99999 3.37723L2.62312 4.82782L3.99999 6.13473L5.37686 4.82783L3.99999 3.37723ZM0.533487 0.086883L1.91036 -1.36371L1.91036 -1.36371L0.533487 0.086883ZM0.0915349 0.506374L1.46841 -0.944219L1.46832 -0.944307L0.0915349 0.506374ZM3.55804 3.79671L4.93492 5.2473L6.46317 3.79671L4.93491 2.34612L3.55804 3.79671ZM0.0915349 7.08706L1.46841 8.53765L1.46841 8.53765L0.0915349 7.08706ZM0.0915349 7.50655L1.46841 6.05596L1.46832 6.05587L0.0915349 7.50655ZM0.533502 7.50655L1.91019 8.95732L1.91038 8.95714L0.533502 7.50655ZM3.99999 4.21622L5.37686 2.76562L3.99999 1.45872L2.62312 2.76563L3.99999 4.21622ZM7.4665 7.50655L6.08962 8.95714L7.4665 7.50655ZM7.90846 7.50655L9.28515 8.95732L9.28534 8.95714L7.90846 7.50655ZM7.90846 7.08706L6.53159 8.53765L6.53168 8.53774L7.90846 7.08706ZM5.81884 5.24731L9.28534 1.95696L6.53159 -0.944216L3.06508 2.34613L5.81884 5.24731ZM9.28534 1.95697C10.2382 1.05256 10.2383 -0.45929 9.28524 -1.3638L6.53168 1.53756C5.82272 0.864714 5.82286 -0.271501 6.53159 -0.944219L9.28534 1.95697ZM9.28524 -1.3638C8.39162 -2.2119 6.98353 -2.21228 6.08955 -1.36362L8.84348 1.53739C8.19356 2.15436 7.18122 2.15401 6.53168 1.53756L9.28524 -1.3638ZM6.08964 -1.36371L2.62312 1.92664L5.37686 4.82783L8.84339 1.53748L6.08964 -1.36371ZM5.37687 1.92664L1.91036 -1.36371L-0.84339 1.53747L2.62312 4.82782L5.37687 1.92664ZM1.91036 -1.36371C1.0166 -2.21205 -0.391562 -2.21217 -1.28543 -1.36362L1.4685 1.53739C0.818693 2.15425 -0.193718 2.15413 -0.843386 1.53748L1.91036 -1.36371ZM-1.28543 -1.36362C-2.238 -0.459352 -2.23843 1.05243 -1.28525 1.95706L1.46832 -0.944307C2.17741 -0.271338 2.177 0.864806 1.4685 1.53739L-1.28543 -1.36362ZM-1.28534 1.95697L2.18117 5.2473L4.93491 2.34612L1.46841 -0.944219L-1.28534 1.95697ZM2.18116 2.34612L-1.28534 5.63647L1.46841 8.53765L4.93492 5.2473L2.18116 2.34612ZM-1.28534 5.63647C-2.23817 6.54087 -2.2383 8.05272 -1.28525 8.95723L1.46832 6.05587C2.17728 6.72872 2.17714 7.86493 1.46841 8.53765L-1.28534 5.63647ZM-1.28534 8.95714C-0.827417 9.39179 -0.243921 9.59342 0.312519 9.59342V5.59342C0.70899 5.59342 1.13252 5.73714 1.46841 6.05596L-1.28534 8.95714ZM0.312519 9.59342C0.869111 9.59342 1.45243 9.3917 1.91019 8.95732L-0.843185 6.05578C-0.507491 5.73723 -0.0841059 5.59342 0.312519 5.59342V9.59342ZM1.91038 8.95714L5.37687 5.66681L2.62312 2.76563L-0.843374 6.05596L1.91038 8.95714ZM2.62312 5.66681L6.08962 8.95714L8.84337 6.05596L5.37686 2.76562L2.62312 5.66681ZM6.08962 8.95714C6.54755 9.39179 7.13104 9.59342 7.68748 9.59342V5.59342C8.08395 5.59342 8.50748 5.73714 8.84337 6.05596L6.08962 8.95714ZM7.68748 9.59342C8.24407 9.59342 8.8274 9.3917 9.28515 8.95732L6.53178 6.05578C6.86747 5.73723 7.29086 5.59342 7.68748 5.59342V9.59342ZM9.28534 8.95714C10.2382 8.05274 10.2383 6.54089 9.28524 5.63638L6.53168 8.53774C5.82272 7.86489 5.82286 6.72868 6.53159 6.05596L9.28534 8.95714ZM9.28534 5.63647L5.81883 2.34613L3.06509 5.24732L6.53159 8.53765L9.28534 5.63647Z" fill="#0069B4" mask="url(#path-1-inside-1)"/>
                        </svg>
                span.filter__arrow
                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M1.28074 5.40039L4.54744 2.33372L7.81414 5.40039L8.80835 4.46706L4.54744 0.467058L0.286529 4.46706L1.28074 5.40039Z" fill="#4E5B67"/>
                    </svg>
                .filter__dropdown
                    .filter__checked.wrapper_f.wrapper_jcfs.wrapper_aifs
                        - for(var y = 0; y < 11; y++)
                            .filter__check
                                label
                                    input(type='checkbox' value=y+1).js-check
                                    span=y+1
                        .filter__check.disabled
                            label
                                input(type='checkbox' disabled='true' value=y + 1).js-check
                                span 12
                        .filter__button
                            button Сбросить

        .filter__item
            span.filter__name Цена
            span.filter__arrow
                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M1.28074 5.40039L4.54744 2.33372L7.81414 5.40039L8.80835 4.46706L4.54744 0.467058L0.286529 4.46706L1.28074 5.40039Z" fill="#4E5B67"/>
                </svg>
            .filter__dropdown.filter__dropdown_price
                .filter__price.wrapper_f.wrapper_aic.wrapper_jcsb
                    .filter__val.wrapper_f.wrapper_aic.wrapper_jcsb
                        span от
                        input(type='text' placeholder='0')
                    .filter__val.wrapper_f.wrapper_aic.wrapper_jcsb
                        span до
                        input(type='text' placeholder='0')
                .filter__button
                    button Сбросить
    .filter__right.wrapper_f.wrapper_aic.wrapper_jcsb
        .filter__sort
            select.js-select
                option Сначала популярные
                option Сначала популярные
        .filter__sort.filter__sort_page
            select.js-select
                option Сначала популярные
                option Сначала популярные
        a(href='#').filter__type.active
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M20.2157 18.349H6.1731C5.59433 18.349 5.12524 17.8799 5.12524 17.3011C5.12524 16.7224 5.59433 16.2533 6.1731 16.2533H20.2154C20.7941 16.2533 21.2632 16.7224 21.2632 17.3011C21.2632 17.8799 20.7945 18.349 20.2157 18.349Z" fill="#999999"/>
            <path d="M20.2157 11.7716H6.1731C5.59433 11.7716 5.12524 11.3025 5.12524 10.7238C5.12524 10.145 5.59433 9.6759 6.1731 9.6759H20.2154C20.7941 9.6759 21.2632 10.145 21.2632 10.7238C21.2636 11.3025 20.7945 11.7716 20.2157 11.7716Z" fill="#999999"/>
            <path d="M20.2157 5.19434H6.1731C5.59433 5.19434 5.12524 4.72525 5.12524 4.14648C5.12524 3.56772 5.59433 3.09863 6.1731 3.09863H20.2154C20.7941 3.09863 21.2632 3.56772 21.2632 4.14648C21.2632 4.72525 20.7945 5.19434 20.2157 5.19434Z" fill="#999999"/>
            <path d="M1.67045 5.63472C2.44766 5.63472 3.07771 5.00467 3.07771 4.22746C3.07771 3.45024 2.44766 2.82019 1.67045 2.82019C0.893238 2.82019 0.263184 3.45024 0.263184 4.22746C0.263184 5.00467 0.893238 5.63472 1.67045 5.63472Z" fill="#999999"/>
            <path d="M1.67045 12.1311C2.44766 12.1311 3.07771 11.501 3.07771 10.7238C3.07771 9.94658 2.44766 9.31653 1.67045 9.31653C0.893238 9.31653 0.263184 9.94658 0.263184 10.7238C0.263184 11.501 0.893238 12.1311 1.67045 12.1311Z" fill="#999999"/>
            <path d="M1.67045 18.6274C2.44766 18.6274 3.07771 17.9973 3.07771 17.2201C3.07771 16.4429 2.44766 15.8129 1.67045 15.8129C0.893238 15.8129 0.263184 16.4429 0.263184 17.2201C0.263184 17.9973 0.893238 18.6274 1.67045 18.6274Z" fill="#999999"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="21" height="21" fill="white" transform="translate(0.263184 0.223633)"/>
            </clipPath>
            </defs>
            </svg>

        a(href='#').filter__type
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M3.75 0H0.75C0.336 0 0 0.336 0 0.75V3.75C0 4.164 0.336 4.5 0.75 4.5H3.75C4.164 4.5 4.5 4.164 4.5 3.75V0.75C4.5 0.336 4.164 0 3.75 0Z" fill="#1E1E1E"/>
            <path d="M3.75 6.75H0.75C0.336 6.75 0 7.086 0 7.5V10.5C0 10.914 0.336 11.25 0.75 11.25H3.75C4.164 11.25 4.5 10.914 4.5 10.5V7.5C4.5 7.086 4.164 6.75 3.75 6.75Z" fill="#1E1E1E"/>
            <path d="M3.75 13.5H0.75C0.336 13.5 0 13.836 0 14.25V17.25C0 17.664 0.336 18 0.75 18H3.75C4.164 18 4.5 17.664 4.5 17.25V14.25C4.5 13.836 4.164 13.5 3.75 13.5Z" fill="#1E1E1E"/>
            <path d="M10.5 0H7.5C7.086 0 6.75 0.336 6.75 0.75V3.75C6.75 4.164 7.086 4.5 7.5 4.5H10.5C10.914 4.5 11.25 4.164 11.25 3.75V0.75C11.25 0.336 10.914 0 10.5 0Z" fill="#1E1E1E"/>
            <path d="M10.5 6.75H7.5C7.086 6.75 6.75 7.086 6.75 7.5V10.5C6.75 10.914 7.086 11.25 7.5 11.25H10.5C10.914 11.25 11.25 10.914 11.25 10.5V7.5C11.25 7.086 10.914 6.75 10.5 6.75Z" fill="#1E1E1E"/>
            <path d="M10.5 13.5H7.5C7.086 13.5 6.75 13.836 6.75 14.25V17.25C6.75 17.664 7.086 18 7.5 18H10.5C10.914 18 11.25 17.664 11.25 17.25V14.25C11.25 13.836 10.914 13.5 10.5 13.5Z" fill="#1E1E1E"/>
            <path d="M17.25 0H14.25C13.836 0 13.5 0.336 13.5 0.75V3.75C13.5 4.164 13.836 4.5 14.25 4.5H17.25C17.664 4.5 18 4.164 18 3.75V0.75C18 0.336 17.664 0 17.25 0Z" fill="#1E1E1E"/>
            <path d="M17.25 6.75H14.25C13.836 6.75 13.5 7.086 13.5 7.5V10.5C13.5 10.914 13.836 11.25 14.25 11.25H17.25C17.664 11.25 18 10.914 18 10.5V7.5C18 7.086 17.664 6.75 17.25 6.75Z" fill="#1E1E1E"/>
            <path d="M17.25 13.5H14.25C13.836 13.5 13.5 13.836 13.5 14.25V17.25C13.5 17.664 13.836 18 14.25 18H17.25C17.664 18 18 17.664 18 17.25V14.25C18 13.836 17.664 13.5 17.25 13.5Z" fill="#1E1E1E"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="18" height="18" fill="white"/>
            </clipPath>
            </defs>
            </svg>
    .filter__mobile
        a(href='#') Фильтр
.mobile-filter
    .wrapper
        .mobile-filter__head
            h3.title_dark.title.title_third.title_line Фильтр
            .mobile-filter__cross
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7.45752" y="21.5997" width="20" height="1.33333" transform="rotate(-45 7.45752 21.5997)" fill="#0069B4"/>
                <rect x="21.5997" y="22.5425" width="20" height="1.33333" transform="rotate(-135 21.5997 22.5425)" fill="#0069B4"/>
                </svg>
        .mobile-filter__body
            - for(var x = 0; x < 2; x++)
                .mobile-filter__wrap
                    .filter__item.filter__item_mobile
                        span.filter__name Размер
                        .filter__values.wrapper_f.wrapper_aic.wrapper_jcfs
                            .filter__value 40
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="path-1-inside-1" fill="white">
                                <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z"/>
                                </mask>
                                <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z" fill="#0B1742"/>
                                <path d="M4.44196 3.79672L3.06508 2.34613L1.53683 3.79673L3.06509 5.24732L4.44196 3.79672ZM7.90846 0.506374L6.53159 -0.944219L6.53159 -0.944216L7.90846 0.506374ZM7.46651 0.086883L8.84339 1.53748L8.84348 1.53739L7.46651 0.086883ZM3.99999 3.37723L2.62312 4.82782L3.99999 6.13473L5.37686 4.82783L3.99999 3.37723ZM0.533487 0.086883L1.91036 -1.36371L1.91036 -1.36371L0.533487 0.086883ZM0.0915349 0.506374L1.46841 -0.944219L1.46832 -0.944307L0.0915349 0.506374ZM3.55804 3.79671L4.93492 5.2473L6.46317 3.79671L4.93491 2.34612L3.55804 3.79671ZM0.0915349 7.08706L1.46841 8.53765L1.46841 8.53765L0.0915349 7.08706ZM0.0915349 7.50655L1.46841 6.05596L1.46832 6.05587L0.0915349 7.50655ZM0.533502 7.50655L1.91019 8.95732L1.91038 8.95714L0.533502 7.50655ZM3.99999 4.21622L5.37686 2.76562L3.99999 1.45872L2.62312 2.76563L3.99999 4.21622ZM7.4665 7.50655L6.08962 8.95714L7.4665 7.50655ZM7.90846 7.50655L9.28515 8.95732L9.28534 8.95714L7.90846 7.50655ZM7.90846 7.08706L6.53159 8.53765L6.53168 8.53774L7.90846 7.08706ZM5.81884 5.24731L9.28534 1.95696L6.53159 -0.944216L3.06508 2.34613L5.81884 5.24731ZM9.28534 1.95697C10.2382 1.05256 10.2383 -0.45929 9.28524 -1.3638L6.53168 1.53756C5.82272 0.864714 5.82286 -0.271501 6.53159 -0.944219L9.28534 1.95697ZM9.28524 -1.3638C8.39162 -2.2119 6.98353 -2.21228 6.08955 -1.36362L8.84348 1.53739C8.19356 2.15436 7.18122 2.15401 6.53168 1.53756L9.28524 -1.3638ZM6.08964 -1.36371L2.62312 1.92664L5.37686 4.82783L8.84339 1.53748L6.08964 -1.36371ZM5.37687 1.92664L1.91036 -1.36371L-0.84339 1.53747L2.62312 4.82782L5.37687 1.92664ZM1.91036 -1.36371C1.0166 -2.21205 -0.391562 -2.21217 -1.28543 -1.36362L1.4685 1.53739C0.818693 2.15425 -0.193718 2.15413 -0.843386 1.53748L1.91036 -1.36371ZM-1.28543 -1.36362C-2.238 -0.459352 -2.23843 1.05243 -1.28525 1.95706L1.46832 -0.944307C2.17741 -0.271338 2.177 0.864806 1.4685 1.53739L-1.28543 -1.36362ZM-1.28534 1.95697L2.18117 5.2473L4.93491 2.34612L1.46841 -0.944219L-1.28534 1.95697ZM2.18116 2.34612L-1.28534 5.63647L1.46841 8.53765L4.93492 5.2473L2.18116 2.34612ZM-1.28534 5.63647C-2.23817 6.54087 -2.2383 8.05272 -1.28525 8.95723L1.46832 6.05587C2.17728 6.72872 2.17714 7.86493 1.46841 8.53765L-1.28534 5.63647ZM-1.28534 8.95714C-0.827417 9.39179 -0.243921 9.59342 0.312519 9.59342V5.59342C0.70899 5.59342 1.13252 5.73714 1.46841 6.05596L-1.28534 8.95714ZM0.312519 9.59342C0.869111 9.59342 1.45243 9.3917 1.91019 8.95732L-0.843185 6.05578C-0.507491 5.73723 -0.0841059 5.59342 0.312519 5.59342V9.59342ZM1.91038 8.95714L5.37687 5.66681L2.62312 2.76563L-0.843374 6.05596L1.91038 8.95714ZM2.62312 5.66681L6.08962 8.95714L8.84337 6.05596L5.37686 2.76562L2.62312 5.66681ZM6.08962 8.95714C6.54755 9.39179 7.13104 9.59342 7.68748 9.59342V5.59342C8.08395 5.59342 8.50748 5.73714 8.84337 6.05596L6.08962 8.95714ZM7.68748 9.59342C8.24407 9.59342 8.8274 9.3917 9.28515 8.95732L6.53178 6.05578C6.86747 5.73723 7.29086 5.59342 7.68748 5.59342V9.59342ZM9.28534 8.95714C10.2382 8.05274 10.2383 6.54089 9.28524 5.63638L6.53168 8.53774C5.82272 7.86489 5.82286 6.72868 6.53159 6.05596L9.28534 8.95714ZM9.28534 5.63647L5.81883 2.34613L3.06509 5.24732L6.53159 8.53765L9.28534 5.63647Z" fill="#0069B4" mask="url(#path-1-inside-1)"/>
                                </svg>
                            .filter__value 40
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="path-1-inside-1" fill="white">
                                <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z"/>
                                </mask>
                                <path d="M4.44196 3.79672L7.90846 0.506374C8.03051 0.39053 8.03051 0.202712 7.90846 0.086883C7.78642 -0.0289462 7.58854 -0.028961 7.46651 0.086883L3.99999 3.37723L0.533487 0.086883C0.41144 -0.028961 0.213566 -0.028961 0.0915349 0.086883C-0.030496 0.202727 -0.0305116 0.390545 0.0915349 0.506374L3.55804 3.79671L0.0915349 7.08706C-0.0305116 7.2029 -0.0305116 7.39072 0.0915349 7.50655C0.15255 7.56447 0.232534 7.59342 0.312519 7.59342C0.392503 7.59342 0.472471 7.56447 0.533502 7.50655L3.99999 4.21622L7.4665 7.50655C7.52751 7.56447 7.6075 7.59342 7.68748 7.59342C7.76747 7.59342 7.84743 7.56447 7.90846 7.50655C8.03051 7.39071 8.03051 7.20289 7.90846 7.08706L4.44196 3.79672Z" fill="#0B1742"/>
                                <path d="M4.44196 3.79672L3.06508 2.34613L1.53683 3.79673L3.06509 5.24732L4.44196 3.79672ZM7.90846 0.506374L6.53159 -0.944219L6.53159 -0.944216L7.90846 0.506374ZM7.46651 0.086883L8.84339 1.53748L8.84348 1.53739L7.46651 0.086883ZM3.99999 3.37723L2.62312 4.82782L3.99999 6.13473L5.37686 4.82783L3.99999 3.37723ZM0.533487 0.086883L1.91036 -1.36371L1.91036 -1.36371L0.533487 0.086883ZM0.0915349 0.506374L1.46841 -0.944219L1.46832 -0.944307L0.0915349 0.506374ZM3.55804 3.79671L4.93492 5.2473L6.46317 3.79671L4.93491 2.34612L3.55804 3.79671ZM0.0915349 7.08706L1.46841 8.53765L1.46841 8.53765L0.0915349 7.08706ZM0.0915349 7.50655L1.46841 6.05596L1.46832 6.05587L0.0915349 7.50655ZM0.533502 7.50655L1.91019 8.95732L1.91038 8.95714L0.533502 7.50655ZM3.99999 4.21622L5.37686 2.76562L3.99999 1.45872L2.62312 2.76563L3.99999 4.21622ZM7.4665 7.50655L6.08962 8.95714L7.4665 7.50655ZM7.90846 7.50655L9.28515 8.95732L9.28534 8.95714L7.90846 7.50655ZM7.90846 7.08706L6.53159 8.53765L6.53168 8.53774L7.90846 7.08706ZM5.81884 5.24731L9.28534 1.95696L6.53159 -0.944216L3.06508 2.34613L5.81884 5.24731ZM9.28534 1.95697C10.2382 1.05256 10.2383 -0.45929 9.28524 -1.3638L6.53168 1.53756C5.82272 0.864714 5.82286 -0.271501 6.53159 -0.944219L9.28534 1.95697ZM9.28524 -1.3638C8.39162 -2.2119 6.98353 -2.21228 6.08955 -1.36362L8.84348 1.53739C8.19356 2.15436 7.18122 2.15401 6.53168 1.53756L9.28524 -1.3638ZM6.08964 -1.36371L2.62312 1.92664L5.37686 4.82783L8.84339 1.53748L6.08964 -1.36371ZM5.37687 1.92664L1.91036 -1.36371L-0.84339 1.53747L2.62312 4.82782L5.37687 1.92664ZM1.91036 -1.36371C1.0166 -2.21205 -0.391562 -2.21217 -1.28543 -1.36362L1.4685 1.53739C0.818693 2.15425 -0.193718 2.15413 -0.843386 1.53748L1.91036 -1.36371ZM-1.28543 -1.36362C-2.238 -0.459352 -2.23843 1.05243 -1.28525 1.95706L1.46832 -0.944307C2.17741 -0.271338 2.177 0.864806 1.4685 1.53739L-1.28543 -1.36362ZM-1.28534 1.95697L2.18117 5.2473L4.93491 2.34612L1.46841 -0.944219L-1.28534 1.95697ZM2.18116 2.34612L-1.28534 5.63647L1.46841 8.53765L4.93492 5.2473L2.18116 2.34612ZM-1.28534 5.63647C-2.23817 6.54087 -2.2383 8.05272 -1.28525 8.95723L1.46832 6.05587C2.17728 6.72872 2.17714 7.86493 1.46841 8.53765L-1.28534 5.63647ZM-1.28534 8.95714C-0.827417 9.39179 -0.243921 9.59342 0.312519 9.59342V5.59342C0.70899 5.59342 1.13252 5.73714 1.46841 6.05596L-1.28534 8.95714ZM0.312519 9.59342C0.869111 9.59342 1.45243 9.3917 1.91019 8.95732L-0.843185 6.05578C-0.507491 5.73723 -0.0841059 5.59342 0.312519 5.59342V9.59342ZM1.91038 8.95714L5.37687 5.66681L2.62312 2.76563L-0.843374 6.05596L1.91038 8.95714ZM2.62312 5.66681L6.08962 8.95714L8.84337 6.05596L5.37686 2.76562L2.62312 5.66681ZM6.08962 8.95714C6.54755 9.39179 7.13104 9.59342 7.68748 9.59342V5.59342C8.08395 5.59342 8.50748 5.73714 8.84337 6.05596L6.08962 8.95714ZM7.68748 9.59342C8.24407 9.59342 8.8274 9.3917 9.28515 8.95732L6.53178 6.05578C6.86747 5.73723 7.29086 5.59342 7.68748 5.59342V9.59342ZM9.28534 8.95714C10.2382 8.05274 10.2383 6.54089 9.28524 5.63638L6.53168 8.53774C5.82272 7.86489 5.82286 6.72868 6.53159 6.05596L9.28534 8.95714ZM9.28534 5.63647L5.81883 2.34613L3.06509 5.24732L6.53159 8.53765L9.28534 5.63647Z" fill="#0069B4" mask="url(#path-1-inside-1)"/>
                                </svg>
                    .filter__checked.wrapper_f.wrapper_jcfs.wrapper_aifs
                        - for(var y = 0; y < 11; y++)
                            .filter__check
                                label
                                    input(type='checkbox' value=y + 1).js-check
                                    span=y + 1
                        .filter__check.disabled
                            label
                                input(type='checkbox' disabled='true' value=y + 1).js-check
                                span 12
                        .filter__button
                            button Сбросить
            .mobile-filter__wrap
                .filter__item.filter__item_mobile
                    span.filter__name Цена
                .filter__price.filter__price_mobile.wrapper_f.wrapper_aic.wrapper_jcsb
                    .filter__val.wrapper_f.wrapper_aic.wrapper_jcfs
                        span от
                        input(type='text' placeholder='0')
                    .filter__val.wrapper_f.wrapper_aic.wrapper_jcfs
                        span до
                        input(type='text' placeholder='0')
                .filter__button
                    button Сбросить